/**
 * Main content
 */
#bd {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.no-preview {
    text-align: center;
    font-style: italic;
    font-size: 2em;
    color: #999;
    border: 2px dashed #ccc;
    border-radius: 6px;
    padding: 160px 0;
    margin-top: .5em;
}

/**
 * Sidebar
 */
#study-list {
    margin: 0;
    list-style: none;
}
#study-list li a {
    display: block;
    text-decoration: none;
    padding: .5em;
}
#study-list li a:hover {
    background-color: rgba(0,152,170,.2);
}
#study-list li.active a {
    background-color: #0098aa;
    color: #ffffff;
}
#study-list .study-id {
    float: left;
    width: 6em;
}
#study-list .study-title {
    display: block;
    margin-left: 6em;
}

#file-scroller {
    overflow: hidden;
}

#file-scroller-inner {
    position: relative;
    overflow: hidden;
}

#file-scroller-inner > div {
    float: left;
    min-height: 400px;
    width: 50%;
}

#breadcrumbs {
    border-bottom: 1px solid #ccc;
    padding: .75em 0;
    margin-bottom: .5em;
}
#breadcrumbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#breadcrumbs li {
    float: left;
    padding-right: 7px;
    padding-left: 20px;
    background-color: transparent;
    background-image: url("../img/icons/folder.fbd3929a893b.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0px center;
}
#breadcrumbs li.file {
    background-image: url("../img/icons/page_white.a3112ba7e266.png");
}
#breadcrumbs li a {
    padding-right: 7px;
}
#breadcrumbs li::after {
    content: '\00BB';
}
#breadcrumbs li:last-child::after {
    content: '';
}

/**
 * File icons
 */
.node-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.node-list li {
    line-height: 2;
    padding-left: 20px;
    background-color: transparent;
    background-image: url("../img/icons/page_white.a3112ba7e266.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0px center;
}
.node-list .dir {
    background-image: url("../img/icons/folder.fbd3929a893b.png");
}
.node-list li:nth-child(odd) {
    background-color: #eee;
}

.data-object-header {
    padding: .5em;
    border-radius: 6px;
    background-color: #e6e6e6;
}
.data-object-header > div {
}
.data-object-header .file-properties {
    float: left;
    width: 600px;
    list-style: none;
    padding: 0 0 0 0.25em;
    margin: 0;
}
.data-object-header .file-properties li {
    float: left;
    line-height: 30px;
    font-size: 16px;
    margin-left: 6px;
    padding-left: 6px;
    border-left: 1px solid #ccc;
}
.data-object-header .file-properties li:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left-width: 0;
}
.data-object-header .file-action {
    float: right;
    text-align: right;
}

.template-image .img-polaroid {
    margin-top: 1.5em;
    max-width: 930px;
}

/* File Extensions*/
.file.ext-3gp, .file.ext-avi, .file.ext-mov, .file.ext-mp4, .file.ext-mpg,
.file.ext-mpeg {
    background-image: url("../img/icons/film.5ad12582e3ca.png");
}
.file.ext-txt, .file.ext-md, .file.ext-log. .file.ext-rtf {
    background-image: url("../img/icons/page_white_text.0da66bdb013f.png");
}
.file.ext-afp, .file.ext-afpa, .file.ext-asp, .file.ext-aspx,
.file.ext-c, .file.ext-cfm, .file.ext-cgi, .file.ext-h, .file.ext-cpp,
.file.ext-lasso {
    background-image: url("../img/icons/page_code.779fcdbd46eb.png");
}
.file.ext-bat, .file.ext-com, .file.ext-exe {
    background-image: url("../img/icons/application_xp_terminal.bc0d3d5aaf8f.png");
}
.file.ext-bmp, .file.ext-gif, .file.ext-jpg, .file.ext-jpeg, .file.ext-pcx,
.file.ext-png {
    background-image: url("../img/icons/picture.d2040c34ba1f.png");
}
.file.ext-htm, .file.ext-html {
    background-image: url("../img/icons/html.97d0ea08bfa5.png");
}
.file.ext-m4p, .file.ext-mp3, .file.ext-ogg {
    background-image: url("../img/icons/music.bd2244ac282a.png");
}
.file.ext-js, .file.ext-pl, .file.ext-py {
    background-image: url("../img/icons/script.11c8f930b5b2.png");
}
.file.ext-rb, .file.ext-rbx, .file.ext-rhtml, .file.ext-ruby {
    background-image: url("../img/icons/ruby.daadae317a28.png");
}
.file.ext-fla, file.ext-swf {
    background-image: url("../img/icons/page_white_flash.132a505684e7.png");
}
.file.ext-css { background-image: url("../img/icons/css.0999808b3c3e.png"); }
.file.ext-doc { background-image: url("../img/icons/page_white_word.38af291953d5.png"); }
.file.ext-php { background-image: url("../img/icons/page_white_php.48cda2a2a54a.png"); }
.file.ext-jar { background-image: url("../img/icons/page_white_cup.8456c3c0f772.png"); }
.file.ext-pdf { background-image: url("../img/icons/page_white_acrobat.5ee158435540.png"); }
.file.ext-ppt { background-image: url("../img/icons/page_white_powerpoint.8c366c11adee.png"); }
.file.ext-psd { background-image: url("../img/icons/paintbrush.247e4218824b.png"); }
.file.ext-sql { background-image: url("../img/icons/database.d698a5e9a755.png"); }

.gallery-item-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.gallery-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    width: 33.33333%;
    padding: 10px;
}

.gallery-item > .thumbnail {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
}

.file-preview-wrapper {
    border: 1px solid #ddd;
    padding:  1px;
}

th > a {
    text-decoration: none;
    color: inherit;
}

th > a:hover{
    text-decoration: none;
    color: inherit;
}

th > a > i {
    float: right;
}